@import 'bourbon/bourbon';
@import 'neat/neat';

// colors
$offwht: #ECEDE5;
$dkblue: #1A323D;
$ltgrey: #b1b1b1;
$ltltgrey: #DFDFDF;
$dkgrey: #818181;
$dkgrey: #4c4c4c;
$cream: #FDFCE9;

// fonts
$opensans: 'Open Sans', sans-serif;

//mixins
@mixin parallax() {
  perspective: 0.65px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin layer() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin back-layer() {
  transform: translateZ(0px);
}

@mixin top-layer() {
  transform: translateZ(-1px) scale(2.5);
}
///

/// arbitrary classing

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.overlay {
  height: auto;
  width: auto;
  background: transparent;
}


body {
  background: url('../images/white_wall.png');
  background-repeat: repeat;
  height: auto;
}

//
// initializing background
//
main{
  @include parallax();
}

.back-layer {
  @include layer();
  @include back-layer();

  .bgpics {
    margin-bottom: 1.5rem;
  }
  .bgpic1 {
    width: 100%;
    height: 650px;
    background-image: url('../images/stella3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -5;
    border-radius: 4px;
  }
  .bgpic2 {
    width: 100%;
    height: 1250px;
    background-image: url('../images/joej2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -5;
    border-radius: 4px;
  }
  .bgpic3 {
    width: 100%;
    height: 1250px;
    background-image: url('../images/stella1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -5;
    border-radius: 4px;
  }
}
///
///

///
/// top layer styling
///
.top-layer {
  @include layer();
  @include top-layer;
  height: 704px;
  // overflow:hidden;

  section {
    width: 100%;
    background-image: url('../images/joej.png');
    background-repeat: no-repeat;
    height: 700px;
    opacity: 0.91;
    z-index: 5;
    overflow: hidden;
    border-radius: 4px;
    // padding-top: 1em;
    box-shadow: 1px 3px -1px $dkblue;
    margin-bottom: 2.2rem;
    font-family: $opensans;
  }
}

h2 {
  margin-top: 60px;
  margin-left: 6rem;
  font-size: 5rem;
}

.bio {
  margin-top: 50px;
  margin-left: 6rem;
  font-size: 17px;
  color: $dkgrey;
  width: 338px;
  height: auto;
}

.gitindex {
  margin-top: 50px;
  margin-left: 6rem;
  width: 300px;
  color: $dkgrey;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
  }

  a:hover {
    text-decoration: underline;
  }
}

.third-blurb {
  margin-top: 50px;
  margin-left: 6rem;
  width: 450px;
  color: $dkgrey;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
  }

  a:hover {
    text-decoration: underline;
  }
}

.side-links {
  clear: both;
  float: right;
  display: block;
  width: 12%;
  margin: 50px 50px 0 0;
  right: 0;
  top: 10px;

  p {
    display: block;
    height: 38px;
    margin: 0;
    padding: 0;
  }

  i {
    margin: 0.09em 0.19em 0.09em 0;
    font-size: larger;
    display: inline-block;
    float: right;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-family: $opensans;
    float: right;
    margin-right: 0.5em;
    color: $dkblue;
    line-height: -1px;
    // transition: all 0.9s ease;
    display: none;
  }
  .twit:hover {
    color: pink;
  }
  .gith:hover {
    color: pink;
  }
  .medi:hover {
    color: pink;
  }
  .lkin:hover {
    color: pink;
  }
}

.works {
  height: 1300px;
  background-color: $cream;
  width: 215px;
  right: 180px;
  top: 115px;
  z-index: 20;
  border-radius: 6px;
  opacity: 0.92;
  box-shadow: 0px 1px 1px $dkgrey;

  h4 {
    clear: both;
    font-weight: lighter;
    margin-left: 2.85rem;
  }

  p {
    width: 80%;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1.29rem;
    margin-top: 2rem;
    background-color: $ltgrey;
    opacity: 0.9;
  }

  .workpics {
    height: 100%;
    width: 259px;

  }
    .round {
      display: block;
      position: absolute;
      text-decoration: none;
      text-align: center;
      font-size: 12.5px;
      color: $dkgrey;
      text-shadow: 0 1px 0 $ltgrey;
      letter-spacing: -0.065em;
      font-family: 'Roboto', sans-serif;
      transition: 0.25s ease;
      box-shadow: 2px 2px 5px $dkgrey;
      z-index: 20;
    }


    .pic1 {
      top: -15px;
    }
    .pic2 {
      top: 190px;
    }
    .pic3 {
      top: 395px;
    }
    .pic4 {
      top: 600px;
    }
    .pic5 {
      top: 805px;
    }
    .pic6 {
      top: 1010px;
    }

    .pic1:hover {
      left: -102px;
      top: -115px;
      width: 400px;
      height: 400px;
      font-size: 18px;
      padding-top: 78px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: 5px 5px 8px $dkgrey;
      z-index: 40;
      transition: all 0.25s ease;
    }
    .pic2:hover {
      left: -102px;
      top: 142px;
      width: 400px;
      height: 400px;
      font-size: 18px;
      padding-top: 78px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: 5px 5px 8px $dkgrey;
      z-index: 40;
      transition: all 0.25s ease;
    }
    .pic3:hover {
      left: -102px;
      top: 322px;
      width: 400px;
      height: 400px;
      font-size: 18px;
      padding-top: 78px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: 5px 5px 8px $dkgrey;
      z-index: 40;
      transition: all 0.25s ease;
    }
    .pic4:hover {
      left: -102px;
      top: 482px;
      width: 400px;
      height: 400px;
      font-size: 18px;
      padding-top: 78px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: 5px 5px 8px $dkgrey;
      z-index: 40;
      transition: all 0.25s ease;
    }
    .pic5:hover {
      left: -102px;
      top: 687px;
      width: 400px;
      height: 400px;
      font-size: 18px;
      padding-top: 78px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: 5px 5px 8px $dkgrey;
      z-index: 40;
      transition: all 0.25s ease;
    }
    .pic6:hover {
      left: -102px;
      top: 912px;
      width: 400px;
      height: 400px;
      font-size: 18px;
      padding-top: 78px;
      padding-left: 12px;
      padding-right: 12px;
      box-shadow: 5px 5px 8px $dkgrey;
      z-index: 40;
      transition: all 0.25s ease;
    }

    .round:hover{
      img {
        display: none;
      }
    }
}

.timeline-head {
  margin-top: 2rem;
  margin-left: 6rem;
  color: $dkgrey;
}

.timeline {
  margin-top: 0.5rem;
  margin-left: 6rem;
  box-shadow: 2px 2px 5px $dkgrey;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 250px;
  background-color: white;
  z-index: 5;
  border-bottom: solid 5px $dkgrey;

  .footer-head {
    margin: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px $ltgrey;
    color: $ltltgrey;
    border-bottom: solid 1px $ltltgrey;
    padding-bottom: 1rem;
    font-weight: lighter;
  }
  .footer-links {
    display: inline-block;
    clear:both;
    width: 42.5%;
    list-style: none;
    margin-left: 6rem;
    border-right: solid 1px $ltgrey;

    a {
      text-decoration: none;
      color: $ltgrey;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      margin: 0.5rem 0 0.5rem 0;
    }
  }

  .disclaimer {
    display:inline-block;
    margin: 0 0 0 14rem;
    color: $ltgrey;
  }
}
